@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';

@theme {
  --color-primary: oklch(83.095% 0.14732 183.82);
  --color-primary-50: oklch(99.625% 0.00528 197.07);
  --color-primary-100: oklch(97.367% 0.03723 190.41);
  --color-primary-200: oklch(93.781% 0.09267 189);
  --color-primary-300: oklch(91.383% 0.133 187.44);
  --color-primary-400: oklch(90.152% 0.15435 185.61);
  --color-primary-500: oklch(83.095% 0.14732 183.82);
  --color-primary-600: oklch(75.961% 0.13431 184.33);
  --color-primary-700: oklch(68.911% 0.12183 184.36);
  --color-primary-800: oklch(61.378% 0.10852 184.35);
  --color-primary-900: oklch(53.913% 0.0953 184.4);
  --color-primary-950: oklch(49.928% 0.08825 184.39);
}